{% extends "base.html" %}
{% load static %}
{% load cache %}

{% cache 600 about_page %}
  {% block content %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="{% static 'images/logo.png' %}" width="200px">
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-10">
          <h3>Pithus, the opened pandora's box</h3>
          <blockquote class="blockquote text-muted">
            <p class="small">The Pandora myth is a kind of theodicy, addressing the question of why there is evil in the
              world. According to this, Pandora opened a jar (pithos) (commonly referred to as "Pandora's box")
              releasing
              all the evils of humanity.</p>
            <footer class="blockquote-footer mt-0 small">Wikipedia</footer>
          </blockquote>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-10">
          <h3>Why Pithus?</h3>
          <p>
            Pithus is a free and open-source platform to analyze Android applications for activists,
            journalists, NGOs, researchers...
          </p>
          <p>
            If you have any question, feel free to contact us at <kbd>pandora</kbd> [at] <kbd>pithus</kbd> [dot] <kbd>org</kbd>
            or file an
            issue on <a href="https://github.com/pithus/bazaar">Github</a>.
          </p>
        </div>
        <div class="col-md-10">
          <h3>We need your support</h3>
          <p>
            For the moment, Pithus is maintained by only one person, support her! Pithus hosting costs 29€ per month.
          </p>
          <p class="text-center">
            <script src="https://liberapay.com/~17862/widgets/button.js"></script>
          </p>
        </div>

        <div class="col-md-10">
          <h3>Limitations</h3>
          <p>
            Pithus is currently in beta and runs on a personal computer. The number of returned results is limited to
            50. Pithus only does static analysis.
          </p>
        </div>

        <div class="col-md-10">
          <h3>How Pithus works</h3>
          <p>
            Pithus analyses, which we want to be as comprehensive as possible, rely on multiple well-known tools such
            as:
          <ul>
            <li><a target="_blank" href="https://github.com/rednaga/APKiD">APKiD</a></li>
            <li><a target="_blank" href="https://github.com/DinoTools/python-ssdeep">ssdeep</a></li>
            <li><a target="_blank" href="https://github.com/ESTsecurity/Dexofuzzy">Dexofuzzy</a></li>
            <li><a target="_blank" href="https://github.com/quark-engine/quark-engine">Quark-Engine</a></li>
            <li><a target="_blank" href="https://github.com/androguard/androguard">AndroGuard</a></li>
            <li><a target="_blank" href="https://github.com/MobSF/Mobile-Security-Framework-MobSF">MobSF</a></li>
            <li><a target="_blank" href="https://github.com/Exodus-Privacy/exodus-core">Exodus-core</a></li>
            <li><a target="_blank" href="https://bazaar.abuse.ch/">MalwareBazaar</a></li>
          </ul>
          <strong>Samples detected as malicious are automatically uploaded to MalwareBazaar.</strong>
          </p>
          <p>
            Under the hood, Pithus is based on:
          <ul>
            <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
            <li><a href=https://www.django-rest-framework.org/" target="_blank">Django Rest Framework</a></li>
            <li><a href="https://django-q.readthedocs.io/en/latest/" target="_blank">Django Q</a></li>
            <li><a href="https://redis.io/" target="_blank">Redis</a></li>
            <li><a href="https://www.elastic.co/" target="_blank">Elasticsearch</a></li>
            <li><a href="https://min.io/" target="_blank">Minio</a></li>
            <li><a href="http://www.pygal.org/en/stable/index.html" target="_blank">Pygale</a></li>
            <li><a href="https://d3js.org/" target="_blank">D3.js</a></li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  {% endblock %}
{% endcache %}
