{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block whole_content %}
  {{ aggregations|json_script:"aggregations-data" }}
  {{ genetic_analysis|json_script:"genetic_analysis-data" }}
  <div class="bg-secondary pb-2">
    <div class="container-fluid">
      {# Header #}
      <div class="row justify-content-center mt-2">
        <div class="col-md-12 text-center">
          <h3 class=" text-white">Mobile threat intelligence for the masses</h3>
          <img src="{% static 'images/logo.png' %}" width="140px">
        </div>
      </div>

      {# Search form #}
      <div class="row justify-content-center mt-2">
        <div class="col-md-6 mt-2 mb-2">
          <form class="form-horizontal text-center" method="get">
            <div class="input-group">
              {% if q %}
                <input type="text" name="q" class="form-control" required value="{{ q }}">
              {% else %}
                <input type="text" name="q" class="form-control" required placeholder="Your query">
              {% endif %}
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i class="nf nf-oct-search"></i></button>
              </div>
            </div>
            <div class="control-group mt-1">
              <div class="controls">
                {% include "front/m_search_help.html" %}
                {% if request.user.is_authenticated and q|length > 0 and false %}
                  {% include "front/m_search_save.html" %}
                {% endif %}
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6 mt-2 mb-2">
          <form class="form-horizontal text-center" method="post" action="{% url "front:basic_upload" %}"
                enctype="multipart/form-data">{% csrf_token %}
            <div class="custom-file ">
              <input type="file" class="custom-file-input" id="customFile" name="apk">
              <label class="custom-file-label" for="customFile">APK to be analyzed ({{ max_size|filesizeformat }}
                max.)</label>
            </div>
            <div class="control-group mt-1">
              <div class="controls">
                <button type="submit" class="btn btn-primary">
                  Upload
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      
      <div class="row justify-content-center">
        <div class="col text-center">
            Try a real life example of Pithus on TryHackMe: <a href="https://tryhackme.com/room/androidmalwareanalysis">Android Malware Analysis</a>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col text-center">
          Search by <a class="" href="{% url 'front:similarity_search' %}">fuzzy hash</a>
        </div>
      </div>
      {# Example of report #}
      {% if report_example %}
        <div class="row justify-content-center">
          <div class="col text-center">
            See an <a href="{% url 'front:report'  report_example.apk_hash %}">example of report</a>.
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="container-fluid">
    {% if list_results %}
      <div class="row justify-content-center mt-2">
        {% if results %}
          <h2>Results</h2>
          <div class="col-md-12 mb-2">
            <ul class="nav nav-pills justify-content-center" id="overviewTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="genetic_analysis-tab" data-toggle="tab"
                   href="#genetic_analysis" role="tab"
                   aria-controls="genetic_analysis"
                   aria-selected="true">Genetic Analysis</a>
              </li>
              {% for key, agg in aggregations.items %}
                <li class="nav-item">
                  <a class="nav-link" id="{{ key }}-tab" data-toggle="tab"
                     href="#{{ key }}" role="tab"
                     aria-controls="{{ key }}"
                     aria-selected="true">{{ agg.title }}</a>
                </li>
              {% endfor %}
            </ul>

            <div class="tab-content" id="overviewTabContent">
              <div class="tab-pane fade show active" id="genetic_analysis" role="tabpanel"
                   aria-labelledby="genetic_analysis-tab">
                {% include "front/m_dendrogram.html" %}
              </div>
              {% for key, agg in aggregations.items %}
                <div class="tab-pane fade" id="{{ key }}" role="tabpanel"
                     aria-labelledby="{{ key }}-tab">
                  {% include "front/m_bar_graph.html" with graphname=key %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% include "front/m_results_flat.html" with results=results %}
        {% else %}
          <h2>No results</h2>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock whole_content %}

