@import "./font-opensans";
@import "./custom_bootstrap_vars";
@import "../vendors/bootstrap-4.0.0/scss/bootstrap";
@import "./controls";
@import "./color_effects";

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

body, a {
  position: relative;
  min-height: 100%;
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px;
}

samp {
  font-size: 0.9em;
}

.status-loader {
  --color-1: #000;
  --size: 0.13px;

  width: calc(48 * var(--size));
  height: calc(48 * var(--size));
  border-radius: 50%;
  display: inline-block;
  border-top: calc(3 * var(--size)) solid var(--color-1);
  border-right: calc(3 * var(--size)) solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.report-status {
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

.overflow-box {
  min-width: 0;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.border-right {
  border-right: 1px solid #EDEDED !important;

  @include media-breakpoint-down(sm) {
    border-right: none !important;
  }
}

.border-secondary {
  border-color: #A991D4 !important;
}

.inline-doc {
  @extend .small;

  color: $gray-600;
}