{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block inner %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts.{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers list-unstyled">
    {% include "account/provider_list.html" with process="login" %}
  </ul>

</div>

<div>
<h3>Why?</h3>
<p>
  Once connected, you will be able to:
  <ul>
    <li>download samples</li>
    <li>export reports in JSON</li>
</ul>
</p>
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %}

{% endblock %}

