{% extends "base.html" %}
{% load static %}
{% load cache %}

{% block content %}
<div class="container">

  <div class="row justify-content-center mt-4 mb-5">
    <div class="col-md-12">
      <h1>Workspace</h1>

      <p>The workspace is a collection of tools and statistics to power you hunting, analysis and reporting on Pithus.
        This
        section in under development, expect many changes.</p>

      <p>If you feel some parts aren't right or you'd like to see some features, feel free to reach the team!</p>
    </div>

    <div class="m-5 col-md-12">
      <h2>Bookmarked samples</h2>
      {% for b in bookmarked_samples %}
      <table class="table table-condensed table-sm">
        <tr>
          <td class="">
            <a href="{% url 'front:report' b.sample %}">{{b.sample}}</a>
          </td>
        </tr>
      </table>
      {% endfor %}
    </div>


    <div class="col-md-6">
      <h2>Yara hunting</h2>
    </div>
    <div class="col-md-6 text-right">
      <a href="{% url 'front:my_rule_create' %}" class="btn btn-primary">
        <span class="huge"><i class="fas fa-plus"></i></span>
        <br>
        New rule
      </a>
    </div>
  </div>
  <div class="col-md-12">
    <div class="accordion" id="accordionExample">
      <h3>Yara matches</h3>
      {% for rule in my_rules %}
      <div class="card">
        <div class="card-header" id="heading-{{ rule.rule.id }}">
          <div class="row">
            <div class="col">
              <button class="btn btn-primary mr-4" data-toggle="collapse" data-target="#collapse-{{ rule.rule.id }}"
                aria-expanded="true" aria-controls="collapse-{{ rule.rule.id }}">
                <i class="fas fa-binoculars text-white"></i>&nbsp;
                <span class="">
                  {{ rule.matches|length }}
                </span>
              </button>
              <span class="h6">{{ rule.rule.title }}</span>
            </div>
            <div class="col-md-2 text-right h4">
              <a href="#" data-toggle="modal" data-target="#ruleModal-{{ rule.rule.id }}"
                class="mr-1 text-decoration-none">
                <i class="nf nf-mdi-eye_outline h5" data-toggle="tooltip" data-placement="top"
                  title="View the ruleset"></i>
              </a>
              <a href="{% url 'front:my_rule_edit' rule.rule.id %}" class="mr-1 text-decoration-none">
                <i class="nf nf-fa-edit h5" data-toggle="tooltip" data-placement="top" title="Edit the ruleset"></i>
              </a>
              <a href="{% url 'front:my_rule_retro' rule.rule.id %}" class="mr-1 text-decoration-none">
                <i class="nf nf-mdi-history h5" data-toggle="tooltip" data-placement="top"
                  title="Launch retro-hunt"></i>
              </a>
            </div>
          </div>
          <!-- Modal -->
          <div class="modal fade" id="ruleModal-{{ rule.rule.id }}" tabindex="-1" role="dialog"
            aria-labelledby="ruleModalLabel">
            <div class="modal-dialog modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="modal-title" id="title">
                    {{ rule.rule.title }}
                    <a href="{% url 'front:my_rule_delete' rule.rule.id %}" data-toggle="tooltip"
                      data-placement="bottom" title="Delete this rule and its history"><i class="fas fa-trash"></i></a>
                  </div>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                      aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                  <pre id="content">{{ rule.rule.content }}</pre>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="collapse-{{ rule.rule.id }}" class="collapse " aria-labelledby="heading-{{ rule.rule.id }}"
          data-parent="#accordionExample">
          <div class="card-body">
            {% if rule.matches|length == 0 %}
            <p>No matches</p>
            {% endif %}

            {% for m in rule.matches %}
            <div class="row mb-4">
              <div class="col-md-4">
                <div class="card m-1 shadow-sm border-secondary">
                  <div class="card-header bg-secondary-light">
                    Hunting information:
                  </div>
                  <div class="card-body p-2">
                    {% if m.matches.inner_rules %}
                    <i class="fas fa-tags"></i>
                    {% endif %}
                    {% for ir in m.matches.inner_rules %}
                    <span class="badge badge-secondary text-white">{{ ir }}</span>
                    {% endfor %}
                    <br>
                    {% if m.matches.matching_files %}
                    <br><i class="fas fa-file-alt"></i> matching files:<br>
                    {% endif %}
                    {% for f in m.matches.matching_files %}
                    <samp class="small">{{ f }}</samp><br>
                    {% endfor %}
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                {% for result in m.sample %}
                {% include "front/m_result_flat.html" %}
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

</div>
</div>


{% endblock %}